.navigation
{
    background-color: darkcyan;
}

.white
{
    color: white;
    padding-right: 30px;
    border-right: 1px solid #000;
}
.transparent
{
    padding-left: 15px;
    padding-bottom: 15px;
    display: inline;
}

.left
{
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 600px;
    float: left;
}
.search
{

    border-right:3px solid #0000;
}

.navtwo
{
    max-width: 90%;
    margin: auto;
    background-color: #9fcdff;
    position: fixed;
}
.activities
{
    padding-top: 40px;
    padding-left: 50px;
    background-color: white;
    padding-bottom: 50px;
}
.college
{
    background-image: url("images/school.jpg");
    max-width:100%;
}
.form
{
    padding-top: 50px;
}

